@import '../../styles/colors.scss';

.auth-page {
  display: flex;
  width: 100%;
  height: calc(100vh - 162px);
  align-items: center;
  justify-content: center;

  .auth-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    background-color: $color-white;
    border-radius: 16px;
    .container-title {
      width: 464px;
      font-size: 26px;
      font-style: normal;
      text-align: center;
      font-weight: 700;
      line-height: 32px;
      margin-bottom: 30px;
      padding-bottom: 30px;
      border-bottom: 1px solid $color-light-gray;
    }
    .container-form {
      .container-input {
        width: 464px;
        margin-bottom: 24px;
      }
      .input-error {
        padding-left: 22px;
        padding-top: 10px;
        margin-bottom: 24px;
        color: $color-red;
      }
      .container-checkbox {
        width: 176px;
        padding-top: 6px;
        margin-bottom: 30px;
      }
      .container-btn {
        width: 464px;
        height: 51px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .auth-page {
    .auth-page-container {
      padding: 20px 16px;
      .container-title {
        width: 388px;
        font-size: 16px;
        line-height: 20px;
      }
      .container-form {
        .container-input {
          width: 388px;
        }
        .container-btn {
          width: 388px;
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .auth-page {
    .auth-page-container {
      .container-title {
        width: 256px;
      }
      .container-form {
        .container-input {
          width: 256px;
        }
        .container-btn {
          width: 256px;
        }
      }
    }
  }
}
