@import '../../styles/colors.scss';

.search-page-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 180px);
  .loading-block {
    width: 80px;
    height: 80px;
  }
}

.search-page {
  background-color: $color-white;
  padding-top: 10px;
  opacity: 0;
  animation: ani 0.5s forwards;
  @keyframes ani {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .search-page-container-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .container-header {
      width: 1440px;
    }
  }

  .search-page-container-results {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $color-light-blue;
    padding-top: 40px;
    .container-results {
      width: 1440px;
      .results-header {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: space-between;
        margin-bottom: 30px;
        .results-header__title {
          color: $color-black;
          .header-title__text {
            margin-right: 20px;
            font-weight: 700;
            font-size: 26px;
            line-height: 29px;
          }
          .header-title__count {
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
          }
        }
        .results-header__download-button {
          width: 196px;
          height: 51px;
        }
      }
      .results-loading {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 30px;
        .results-loading-block {
          width: 80px;
          height: 80px;
        }
      }
      .results-list {
        display: flex;
        flex-direction: column;
      }
    }
  }
}

@media screen and (max-width: 1440px) {
  // x < 1440
  .search-page {
    .search-page-container-header {
      .container-header {
        width: 952px;
      }
    }
    .search-page-container-results {
      .container-results {
        width: 952px;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  // x < 1024
  .search-page {
    .search-page-container-header {
      padding: 0 16px 0 16px;
      .container-header {
        width: 100%;
        min-width: 448px;
      }
    }
    .search-page-container-results {
      padding-left: 16px;
      padding-right: 16px;
      .container-results {
        width: 100%;
        min-width: 448px;
        .results-header {
          display: flex;
          flex-direction: row;
          align-items: baseline;
          justify-content: space-between;
          margin-bottom: 30px;
          .results-header__title {
            display: flex;
            align-items: flex-end;
            .header-title__text {
              font-size: 16px;
              line-height: 20px;
            }
            .header-title__count {
              font-weight: 500;
              font-size: 14px;
              line-height: 17px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .search-page {
    .search-page-container-results {
      .container-results {
        .results-header {
          flex-direction: column;
          .results-header__title {
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            margin-bottom: 20px;
          }
          .results-header__download-button {
            width: 100%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  // x < 480
  .search-page {
    .search-page-container-header {
      padding: 0 16px 0 16px;
      .container-header {
        width: 100%;
        min-width: 288px;
      }
    }
    .search-page-container-results {
      .container-results {
        width: 100%;
        min-width: 288px;
        padding: 0 16px 0 16px;
        .results-header {
          display: flex;
          align-items: baseline;
          justify-content: space-between;
          margin-bottom: 30px;
          .results-header__title {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            .header-title__text {
              margin-bottom: 10px;
            }
          }
        }
      }
    }
  }
}
