$color-black: #2a2b2e;
$color-dark-black: #1a1b1d;
$color-gray: #aaa9aa;
$color-light-gray: #e6e5e5;
$color-white: #fffdfd;

$color-green: #5fbb97;
$color-yellow: #f49e4c;
$color-red: #ff7477;

$color-blue: #6791ff;
$color-dark-blue: #5584FF;
$color-light-blue: #F1F5FC;
