@import "../../../styles/colors.scss";

.button-general {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 16px;
    cursor: pointer;
}

.button-icon {
    background-color: $color-blue;
    color: $color-white;
    transition: 0.2s;
    &:last-child:not(:only-child) {
        margin-right: 0;
    }
    &:hover {
        background-color: $color-white;
        border: 1px solid $color-blue;
        color: $color-blue;
        transition: 0.2s;
        .button-icon__icon * {
            fill: $color-blue;
        }
    }
    &:active {
        background-color: $color-dark-blue;
        color: $color-white;
        transition: 0.2s;
        .button-icon__icon * {
            fill: $color-white;
        }
    }
    &:disabled {
        background-color: $color-gray;
        &:hover {
            border: none;
            color: $color-white;
            .button-icon__icon * {
                fill: $color-white;
            }
        }
    }
    .button-icon__icon * {
    }
    .button-icon__title {
        margin-left: 8px;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
    }
}

.button-primary {
    background-color: $color-black;
    color: $color-white;
    padding: 0 37px 0 37px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    transition: 0.2s;
    &:hover {
        background-color: $color-white;
        border: 1px solid $color-black;
        color: $color-black;
        transition: 0.2s;
    }
    &:active {
        background-color: $color-dark-black;
        color: $color-white;
        transition: 0.2s;
    }
    &:disabled {
        background-color: $color-gray;
        &:hover {
            border: none;
            color: $color-white;
            .button-icon__icon * {
                fill: $color-white;
            }
        }
    }
}

.button-icon-outline {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    background-color: transparent;
    margin-right: 24px;
    color: $color-blue;
    transition: 0.2s;
    border-radius: 0;
    &:last-child:not(:only-child) {
        margin-right: 0;
    }
    &:hover {
        color: $color-dark-blue;
        transition: 0.2s;
        .button-icon-outline__img * {
            transition: 0.2s;
            fill: $color-dark-blue;
        }
    }
    &:active {
        color: $color-blue;
        .button-icon-outline__img * {
            transition: 0.2s;
            fill: $color-blue;
        }
        transition: 0.2s;
    }
    &:disabled {
        color: $color-gray;
        .button-icon-outline__img * {
            transition: 0.2s;
            fill: $color-gray;
        }
        transition: 0.2s;
    }
    .button-icon-outline__img * {
    }
    .button-icon-outline__title {
        margin-left: 8px;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
    }
    .icon-only {
        margin-left: 8px;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        @media screen and (max-width: 768px) {
            display: none;
        }
    }
}
