@import '../../styles/colors.scss';

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  background: $color-white;
  padding: 20px 0 20px 0;
  z-index: 10;

  .nav-container {
    width: 1440px;
    height: 51px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    /* Third Nav */
    justify-content: flex-start;
    .nav-link-header {
      color: $color-black;
      display: flex;
      align-items: center;
      text-decoration: none;
      margin: 0 63px 0 0;

      font-weight: 700;
      font-size: 24px;
      cursor: pointer;
    }

    .nav-menu {
      display: flex;
      flex-direction: row;
      /* Second Nav */
      /* margin-right: 24px; */
      /* Third Nav */
      width: 100vw;
      white-space: nowrap;
      @media screen and (max-width: 768px) {
        display: none;
      }
      .nav-link {
        color: $color-black;
        display: flex;
        align-items: center;
        text-decoration: none;
        margin: 0 30px 0 0;
        height: 100%;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        cursor: pointer;
        transition: 0.2s;
        &:hover {
          color: $color-dark-blue;
          transition: 0.2s;
        }
        &:disabled {
          color: $color-gray;
          transition: 0.2s;
        }
        &.active {
          color: $color-blue;
        }
      }
    }
    .nav-bnt {
      display: flex;
      align-items: center;
      /* Third Nav */
      justify-content: flex-end;
      height: 51px;
      @media screen and (max-width: 768px) {
        display: none;
      }
      .nav-btn-link {
        width: 128px;
        height: 51px;
        text-decoration: none;
      }
    }
    .nav-menu-burger {
      cursor: pointer;
      display: none;
    }
  }
}

.sidebar {
  height: calc(100vh - 91px);
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 91px;
  right: 0;
  display: flex;
  justify-content: flex-end;
  pointer-events: none;
  z-index: 12;
  opacity: 0;
  transition: 0.6s;
}
.sidebar.active {
  pointer-events: all;
  opacity: 1;
}
.sidebar-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 260px;
  padding: 20px 30px;
  background-color: #fff;
  transform: translateX(100%);
  transition: 0.6s all;
  .sidebar-menu-elements {
    display: flex;
    flex-direction: column;

    .nav-link {
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      color: $color-black;
      text-decoration: none;
      margin-bottom: 30px;
      cursor: pointer;

      &:hover {
        color: $color-dark-blue;
        transition: 0.2s;
      }
      &:disabled {
        color: $color-gray;
        transition: 0.2s;
      }
      &.active {
        color: $color-blue;
      }
    }
  }
}

.sidebar-menu.active {
  transform: translateX(0%);
}

@media screen and (max-width: 1440px) {
  .navbar {
    .nav-container {
      width: 952px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .navbar {
    padding-left: 16px;
    padding-right: 16px;
    .nav-container {
      width: 100%;
    }
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    .nav-container {
      width: 952px;
      justify-content: space-between;
      .nav-menu-burger {
        display: flex;
      }
    }
  }
}
